#create_channel_pop,
#participate_channel_pop,
#team_menu_outer,
#topic_edit_outer,
#invite_form_pop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;

  form {
    display: flex;
    flex-direction: column;

    div.input_group {
      margin-top: 30px;

      .large_input {
        font-size: 1.25rem;
        line-height: normal;
        padding: 0.75rem;
        border: 1px solid #a0a0a2;
        border-radius: 0.25rem;
        margin: 0.75rem;
        width: 100%;
      }

      button {
        background-color: #00b696;
        color: #fff;
        box-shadow: none!important;
        font-size: 20px;
        border: none;
        border-radius: 0.25rem;
        text-align: center;
        padding: 10px 30px;
        margin: 1rem auto auto;
        display: block;
      }

      button:disabled {
        background-color: #b3b3b3!important;
        color: #fff;
      }
      width: 100%;
    }
  }

  #right_up {
    position: absolute;
    top: 3rem;
    right: 3rem;
  }

  .close_btn {
    box-shadow: none!important;
    border: none;
    display: block;
    font-size: 3rem;
  }

  .pop_container {
    width: 640px;
    max-width: 100%;
  }
}

#team_menu_outer{
  background-color: rgba(#000000, 0)!important;
}
#topic_edit_outer {
  background-color: rgba(#000000, 0.7)!important;
}

#topic_edit_inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 200px;
  width: 400px;
  border-radius: 8px;
  background-color: #ffffff;

  button {
    background-color: #00b696;
    color: #fff;
    box-shadow: none!important;
    font-size: 20px;
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    padding: 10px 30px;
    margin: 1rem auto auto;
    display: block;
  }

  button:disabled {
    background-color: #b3b3b3!important;
    color: #fff;
  }

  .topic_edit_form {
    border: 3px solid #dedede;
    overflow: scroll;
    margin: 30px;
    padding: 10px;
    height: 1rem;
  }
}

#team_menu_inner {
  position: absolute;
  top: 60px;
  left: 30px;
  bottom: 30px;
  width: 300px;
  background-color: #ffffff;
  overflow: scroll;
  border-radius: 10px;
  box-shadow:0px 0px 10px;

  p {
    margin: 0;
  }

  #user_menu_header {
    text-align: center;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 20px;
    padding: 5px;
    font-weight: 900;
  }

  #workspace_menu_header {
    text-align: center;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 20px;
    padding: 5px;
    font-weight: 900;
  }
  ul{
    li{
      button#invite_pop_btn{
        font-size: 18px;
        box-shadow: none!important;
        border: none;
        text-align: left;
        padding: 5px;

      }
    }
  }
}
